.no-taxes {
    display: flex;
    padding: 0px 64px;

    .content {
        display: flex;
        gap: 48px;
        padding: 24px;
        background-color: #fff;

        .text {
            display: flex;
            flex-direction: column;
            width: 100%;
            justify-content: space-between;
            gap: 24px;

            .title {
                display: flex;
                flex-direction: column;
                gap: 24px;

                div:first-child {
                    color: #191C38;
                    font-family: HelveticaBold, sans-serif;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                }

                div:last-child {
                    color: #191C38;
                    font-family: HelveticaLight, sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                }

            }

            .list {
                display: flex;
                flex-direction: column;
                gap: 16px;


                .list-elem {
                    display: flex;
                    gap: 24px;
                    background: #F1F1F1;
                    padding: 16px;

                    color: #717171;

                    leading-trim: both;

                    text-edge: cap;
                    font-family: Helvetica;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    letter-spacing: 0.42px;

                    img {
                        align-self: flex-start;
                    }
                }
            }
        }

        .procent {
            display: flex;
            flex-direction: column;
            gap: 28px;
            width: 100%;
            justify-content: space-between;

            .procent-elem {
                display: flex;
                flex-direction: column;
                gap: 12px;

                .number {
                    color: #000;
                    font-family: HelveticaBold, sans-serif;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                }

                .line {
                    width: 100%;
                    height: 2px;
                    background: #D2D2D2;
                }

                .descr {
                    color: #717171;
                    font-family: HelveticaRegular, sans-serif;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 120%;
                }
            }
        }
    }

}

@media (max-width: 1300px) {
    .no-taxes {
        padding: 0px 16px;

        .content {
            .text {
                .title {
                    div:first-child {
                        font-size: 22px;
                    }

                    div:last-child {
                        font-size: 14px;
                    }

                }

                .list {

                    .list-elem {
                        svg {}

                        &:nth-child(2) {
                            svg {}
                        }
                    }
                }
            }

            .procent {
                gap: 48px;
                justify-content: flex-start;

                .procent-elem {

                    .number {}

                    .line {}

                    .descr {}
                }
            }
        }

    }
}

@media (max-width: 768px) {
    .no-taxes {
        padding: 0px 0px;

        .content {
            flex-direction: column;
        }
    }
}