.areas-view-page {
  display: flex;
  flex-direction: column;

  .areas-container {
    .path {
      display: flex;
      gap: 8px;
      padding: 23px 64px 10px 64px;

      div {
        color: #8F8F8F;
        font-family: Helvetica, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      a {
        color: #8F8F8F;
        font-family: Helvetica, sans-serif;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .area-baner {
      padding: 10px 64px 32px 64px;

      .image-content {
        width: 100%;
        height: 80vh;
        position: relative;

        .image {
          height: 100%;
          width: 100%;

          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
        }

        .content {
          position: absolute;
          padding: 46px 36px;
          top: 0;
          left: 0;
          display: flex;
          flex-direction: column;
          background: rgba(25, 28, 56, 0.90);
          max-width: 35%;
          height: 100%;
          justify-content: space-between;

          .title {
            display: flex;
            flex-direction: column;
            gap: 20px;

            > div:first-child {
              color: #FFF;
              font-family: Onest;
              font-size: 54px;
              font-style: normal;
              font-weight: 700;
              line-height: 120%; /* 64.8px */
            }

           > div {
              color: #D1D1D1;
              font-family: Onest;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px; /* 175% */
            }
          }

          .advantages {
            display: flex;
            gap: 4px;
            flex-wrap: wrap;

            .advantage {
              display: flex;
              padding: 5px 10px;
              justify-content: center;
              align-items: center;
              gap: 10px;

              color: #FFF;
              font-family: Onest;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px; /* 175% */

              border-radius: 2px;
              background: #C29773;
            }
          }
        }
      }
    }

    .baner-info {
      display: none;
    }

    .location-features {
      display: flex;
      gap: 54px;
      padding: 32px 64px 29px 64px;

      &.active {
        display: none;
      }

      .content {
        display: flex;
        flex-direction: column;
        gap: 24px;
        padding: 20px;
        background: #fff;
        width: 100%;



        .title {
          color: #191C38;
          font-family: Helvetica;
          font-size: 36px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%;
        }

        .description {
          display: flex;
          flex-direction: column;
          gap: 12px;
          justify-content: space-between;
          height: 100%;

          div {
            color: #575757;
            font-family: Onest;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px; /* 175% */
          }
        }
      }

      .image {
        width: 100%;
        padding: 15px;
        background: #fff;

        img {
          box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.10);
          width: 100%;
        }
      }
    }

    .infrastructure {
      padding: 29px 64px 28px 64px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 38px;

      .block {
        display: flex;
        min-height: 294px;
        padding: 25px 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        justify-content: space-between;

        height: 100%;
        border-radius: 2px;
        background: #FFF;
        box-shadow: 0px 2px 60px 0px rgba(0, 0, 0, 0.05);

        .info {
          display: flex;
          width: 100%;
          flex-direction: column;
          gap: 20px;


          div:first-child {
            color: #191C38;
            font-family: Onest;
            font-size: 36px;
            font-style: normal;
            font-weight: 700;
            line-height: 120%; /* 43.2px */
          }

          div:last-child {
            overflow: hidden;
            color: #575757;
            text-overflow: ellipsis;
            font-family: Onest;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px; /* 155.556% */
          }
        }

        .read-more {
          overflow: hidden;
          color: #C29773;
          text-overflow: ellipsis;
          font-family: Onest;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.64px;
        }
      }
    }

    .gallery {
      padding: 29px 64px 28px 64px;
      gap: 44px;
      display: flex;

      .image {
        width: 100%;
        img {
          width: 100%;
        }
      }

    }

    .property {
      padding: 28px 64px 29px 64px;

      .content {
        display: flex;
        flex-direction: column;
        gap: 24px;
        background: #fff;
        padding: 25px 20px;

        > div:first-child {
          color: #191C38;
          font-family: Helvetica;
          font-size: 36px;
          font-style: normal;
          font-weight: 700;
          line-height: 120%; /* 43.2px */
        }
        .description {
          display: flex;
          flex-direction: column;
          div {
            color: #575757;
            font-family: Onest;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 37px; /* 205.556% */
          }
        }
      }
    }

    .map-container {
      padding: 30px 64px 30px 64px;

      .content {
        height: 70vh;
        width: 100%;

        .map {
          width: 100%;
          height: 100%;
        }
      }
    }

    .areas-cards {
      padding: 28px 64px 64px 64px;
    }

    .consolt-box {
      padding: 64px 0px 29px 0px;
    }
  }
}

@media (max-width: 1300px) {
  .areas-view-page {
    .areas-container {
      .path {
        padding: 16px 16px 8px 16px;
        div {
        }

        a {
        }
      }

      .area-baner {
        padding: 8px 16px 16px 16px;

        .image-content {
          height: 60vh;

          .image {
          }

          .content {
            padding: 24px;
            .title {
              gap: 10px;
              > div:first-child {
                font-size: 24px;
              }

              > div {
                font-size: 12px;
              }
            }

            .advantages {
              .advantage {
                padding: 2px 8px;
                font-size: 16px;
              }
            }
          }
        }
      }

      .location-features {
        padding: 16px 16px 16px 16px;
        gap: 16px;
        display: none;
        flex-wrap: wrap;

        &.active {
          display: flex;
        }

        .content {
          width: calc(50% - 8px);

          &:last-child {
            width: 100%;
          }

          .title {
            font-size: 24px;
          }

          .description {
            justify-content: unset;
            div {
              font-size: 16px;
            }
          }
        }

        .image {
          width: calc(50% - 8px);
          display: flex;
          justify-content: center;
          align-items: center;

          img {
          }
        }
      }

      .infrastructure {
        padding: 16px 16px 16px 16px;
        gap: 16px;
        .block {
          min-height: 260px;
          .info {
            div:first-child {
              font-size: 24px;
            }

            div:last-child {
              font-size: 16px;
            }
          }

          .read-more {
          }
        }
      }

      .gallery {
        padding: 16px 16px 16px 16px;
        gap: 16px;
        .image {
          img {
          }
        }

      }

      .property {
        padding: 8px 16px 16px 16px;

        .content {
          > div:first-child {
            font-size: 24px;
          }
          .description {
            div {
              font-size: 16px;
            }
          }
        }
      }

      .map-container {
        padding: 8px 16px 16px 16px;
        .content {
          .map {
          }
        }
      }

      .areas-cards {
        padding: 8px 16px 16px 16px;
      }

      .consolt-box {
      }
    }
  }
}

@media (max-width: 876px) {
  .areas-view-page {
    .areas-container {
      .path {
        display: none;
      }

      .area-baner {
        .image-content {

          .image {
          }

          .content {
            top: unset;
            bottom: 0;
            max-width: 100%;
            width: 100%;
            height: fit-content;
            padding: 15px;

            .title {
              > div:first-child {
                display: flex;
                font-size: 36px;
              }

              > div {
                display: none;
              }
            }

            .advantages {
              .advantage {
                display: none;
              }
            }
          }
        }
      }

      .baner-info {
        display: flex;
        padding: 16px;
        &.active {
          display: flex;
        }

        .content {
          padding: 16px;
          display: flex;
          flex-direction: column;
          background: rgba(25, 28, 56, 0.90);
          max-width: 100%;
          height: 100%;
          justify-content: space-between;
          gap: 20px;
          background: #fff;

          .title {
            display: flex;
            flex-direction: column;
            gap: 20px;

            > div:first-child {
              display: none;
            }

            > div {
              color: #848484;
              font-family: Onest;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px; /* 200% */
            }
          }

          .advantages {
            display: flex;
            flex-wrap: wrap;
            gap: 4px;

            .advantage {
              padding: 5px 10px;
              color: #FFF;
              font-family: Onest;
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px; /* 200% */
              width: fit-content;
              border-radius: 2px;
              background: #C29773;
            }
          }
        }
      }

      .location-features {
        &.active {
        }

        .content {
          width: 100%;
          &:last-child {
          }

          .title {
          }

          .description {
            div {
            }
          }
        }

        .image {
          width: 100%;
          img {
          }
        }
      }

      .infrastructure {
        display: flex;
        flex-direction: column;
        .block {
          .info {
            div:first-child {
            }

            div:last-child {
            }
          }

          .read-more {
          }
        }
      }

      .gallery {
        display: flex;
        flex-direction: column;
        .image {
          img {
          }
        }

      }

      .property {
        .content {
          > div:first-child {
          }
          .description {
            div {
            }
          }
        }
      }

      .map-container {
        .content {
          .map {
          }
        }
      }

      .areas-cards {
      }

      .consolt-box {
        padding: 13px 0px 29px 0px;
      }
    }
  }
}