.marker {
  border-radius: 10px;

  div {
    display: flex;
    border-radius: 5px;

    background: #191C38;
    box-shadow: 0px 2px 67.4px -1px rgba(0, 0, 0, 0.09);
    padding: 2px 4px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    line-height: 19px;

    .price {
      letter-spacing: 1px;
    }
  }
}

.gm-style .gm-style-iw-c {
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(-50%, -100%, 0);
  transform: translate3d(-12%, -100%, 0);
  background-color: white;
  padding: 0px;
  box-shadow: none;
  max-width: unset !important;

  border-radius: 3px;
  background: #FFF;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.gm-ui-hover-effect {
  display: none !important;
}

.pop-container {
  display: flex;
  height: 100%;
  width: fit-content;

  img {
    width: 125px;
    object-fit: cover;
  }

  .pop-content {
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding: 10px 10px 10px 10px;
    justify-content: space-between;
    flex: 1;
    cursor: pointer;

    div:first-child {
      overflow: hidden;
      color: #323232;
      text-overflow: ellipsis;
      font-family: HelveticaBold, sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 19px;
      /* 86.364% */
    }

    div:last-child {
      color: #8C8C8C;
      font-family: Helvetica;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 19px;
      /* 105.556% */
    }
  }
}

.gm-style-iw-d {
  width: fit-content !important;
  overflow: hidden !important;
}

.gm-style-iw-tc {
  display: none;
}

.yNHHyP-marker-view {
  cursor: pointer;
}

.real-estate {
  .content {
    height: 723px;
    padding: 20px 64px;
    display: flex;
    gap: 24px;

    .map-projects {
      height: 100%;
      width: 100%;
      display: flex;
      background-color: #FFF;
      padding: 18px 12px 18px 20px;
      gap: 16px;

      .map {
        width: 49%;
        height: 100%;

        > div:first-child {
          border-radius: 10px;
          background: lightgray -382.49px 0px / 215.44% 134.992% no-repeat;
          box-shadow: 0px 4px 12px 2px rgba(0, 0, 0, 0.10);
        }

        background-color: #fff;
      }

      .projects {
        flex: 1;
        overflow: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        gap: 14px 14px;
        overflow-x: hidden;
        background-color: #fff;
        padding: 0px 10px 10px 10px;

        .show-more-wrapper {
          display: flex;
          justify-content: center;
          width: 100%;

          .show-more {
            cursor: pointer;

            &:hover {
              background: #21254B;
            }

            background: #191c38;
            padding: 10px 32px 10px 32px;
            color: #FFF;
            font-family: Helvetica,
            sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }

      }

      .projects-phone {
        display: none;
      }
    }

    .map-buttons {
      display: none;
    }
  }

  .down-arrow {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: none;
  }

  .areas-contet {
    padding: 35px 80px 64px 80px;

    .areas-title {
      display: flex;
      flex-direction: column;
      gap: 8px;

      div:first-child {
        color: #191C38;
        font-family: HelveticaBold, sans-serif;
        font-size: 48px;
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
        /* 57.6px */
      }

      .description {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .text {
          color: #575757;
          font-family: Helvetica;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
        }
      }
    }

    .search {
      padding: 41px 0px 0px 0px;

      .search-content {
        display: flex;
        gap: 10px;

        .search-bar {
          position: relative;
          flex: 1;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0px 16px;
          border: 1px solid #E3E3E3;

          background: #FFF;

          input {
            color: #575757;
            text-align: left;
            leading-trim: both;
            text-edge: cap;
            font-family: HelveticaRegular, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 19px;

            width: 90%;
            background-color: transparent;

            border: 0;

            &:focus {
              outline: none;
            }
          }


          svg {
            cursor: pointer;
            width: 24px;
            height: 24px;
            position: absolute;
            top: 24%;
            right: 20px;
          }
        }

        .areas-link {
          display: flex;
          padding: 12px 16px;
          align-items: center;
          flex-shrink: 0;
          border: 1px solid #E3E3E3;
          background: #FFF;
          cursor: pointer;

          color: #000;
          text-align: center;
          leading-trim: both;
          text-edge: cap;
          font-family: Helvetica;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 22px;

          &:hover {
            background: #e9e9e9;
            border: 1px solid #fff;
          }
        }

        .filter-dropdown-search {
          position: absolute;
          background: white;
          color: white;
          width: 100%;
          padding: 8px;

          top: 100%;
          left: 0;
          z-index: 100;
          overflow: auto;
          max-height: 30vh;
          flex-direction: column;

          .location-option {
            cursor: pointer;
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 12px 0px;
            color: #000;
            font-family: Helvetica, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 19px;
            /* 118.75% */

            &:hover {
              background-color: #e9e9e9;
            }
          }
        }
      }
    }

    .card-container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 16px;
      padding: 41px 0px;


      .get-consult {
        width: 100%;
        padding: 0px;
      }
    }

    .show-all {
      display: flex;
      justify-content: center;

      .button {
        color: #FFF;
        font-family: Helvetica;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        cursor: pointer;
        width: 20%;
        padding: 16px;
        border-radius: 1px;
        background: #191C38;

        white-space: nowrap;

        &:hover {
          background-color: #21254B;
          ;
        }
      }

    }

    .centered {}
  }

  .display-none {
    display: none !important;
  }
}

@media (max-width: 600px) {
  .real-estate {
    .filter {
      display: none;
    }

    .search {
      padding: 24px 0px 0px 0px!important;
      .search-content{
        .search-bar {}

      }
    }

    .card-container {
      padding: 0px !important;
    }

    .content {
      padding: 0px 16px 36px 16px !important;
      height: auto !important;

      .map-projects {
        gap: 10px !important;
        .map {
          height: 50vh !important;
        }

        .projects {
          display: none;
        }

        .projects-phone {
          overflow: auto;
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 100%;
          gap: 10px;
          overflow-x: hidden;
          background-color: #fff;
        }
      }

      .map-buttons {
        display: flex;
        justify-content: center;
        gap: 24px;
        align-items: center;

        .left-arrow {
          display: flex;
          width: 35px;
          height: 35px;
          justify-content: center;
          align-items: center;
          border-radius: 2px;
          background: #191C38;
        }

        .count {
          color: #191C38;
          text-align: center;
          font-family: Helvetica;
          font-size: 30px;
          font-style: normal;
          font-weight: 700;
        }

        .right-arrow {
          display: flex;
          width: 35px;
          height: 35px;
          justify-content: center;
          align-items: center;
          border-radius: 2px;
          background: #191C38;
        }
      }
    }

    .down-arrow svg {
      width: 50px;
    }
  }
}

@media (max-width: 1300px) {
  .real-estate {
    .filter {
      .search {
        flex: 2;

        input {

          background: none;
          font-size: 14px;
        }
      }

      .dropdown {
        font-size: 14px;
      }
    }

    .content {
      padding: 20px 32px 20px 32px;
      height: 70vh;

      .projects {
        gap: 14px 14px !important;

        padding-bottom: 20px;


        .show-more {
          padding: 10px 40px 12px 40px !important;
          border-radius: 1px;
        }
      }


    }

    .areas-contet {
      padding: 16px 32px 41px 32px;

      .areas-title {
        padding: 0px 0px 0px 0px;
        gap: 12px;

        div:first-child {
          font-size: 36px;
        }

        .description {
          .text {
            font-size: 22px;
          }
        }


      }

      .search {
        .search-content {
          flex-wrap: wrap;

          .search-bar {
            min-width: 100%;

            input {
              padding: 10px 0px;
              min-width: 100%;


              &:focus {}
            }

            svg {}
          }

          .areas-link {
            &:hover {}
          }

          .filter-dropdown-search {
            .location-option {

              &:hover {}
            }
          }
        }
      }

      .card-container {
        display: flex;
        padding: unset 0px;
        flex-wrap: wrap;
        width: 100%;
        gap: 8px;

        .get-consult {
          margin: 50px 0px;
        }
      }

    }
  }
}

@media (max-width: 870px) {
  .real-estate {
    .filter {
      flex-wrap: wrap;
      align-items: flex-start;
      gap: 5px;
      justify-content: unset;

      .search {
        flex: 100%;
        padding: 12px 8px 12px 16px;

      }

      .dropdown {
        flex: 1;
        flex-wrap: nowrap;

        &:last-child {
          flex: 2;
        }
      }
    }

    .content {
      padding: 20px 16px;
      flex-direction: column;
      height: 120vh;

      .map-projects {
        flex-direction: column;
        padding: 8px;
        gap: 24px;

        .map {
          width: 100%;
          height: 50%;
        }

        .projects {
          height: 50%;
          flex: unset;
        }
      }
    }

    .areas-contet {
      padding: 16px 16px 42px 16px;
      display: block;
      .areas-title {
        padding: 0px 0px 0px 0px;
        gap: 12px;

        div:first-child {
          font-size: 28px;
        }

        .description {
          .text {
            font-size: 16px;
          }
        }
      }

      .search {
        .search-content {
          flex-wrap: wrap;

          .search-bar {
            height: 50px;
            min-width: 100%;

            input {
              min-width: 100%;


              &:focus {}
            }

            svg {}

          }

          .areas-link {
            &:hover {}

            display: none;
          }

          .filter-dropdown-search {
            .location-option {

              &:hover {}
            }
          }
        }
      }

      .show-all {
        .button {
          width: 40%;
        }
      }
    }

    .down-arrow {
      position: fixed;
      bottom: 10px;
      right: 10px;
    }

    .feedback {
      display: none;

    }
  }
}