 .trademark-wrapper {
     .trademark-container {
         display: flex;
         flex-direction: column;

         .trademark-baner-guide {
             display: flex;
             flex-direction: column;
         }

         .registering-trademark {
             display: flex;
             flex-direction: column;
             gap: 16px;

             padding: 32px 64px 32px 64px;

             div:first-child {
                 color: #000;
                 font-family: HelveticaBold, sans-serif;
                 font-size: 32px;
                 font-style: normal;
                 font-weight: 400;
                 line-height: 120%;
                 /* 38.4px */
             }

             div:last-child {
                 color: #707070;
                 font-family: Helvetica;
                 font-size: 16px;
                 font-style: normal;
                 font-weight: 400;
                 line-height: 120%;
                 /* 19.2px */
             }
         }

         .register-cost {
             display: flex;
             flex-direction: column;
             gap: 20px;
             padding: 32px 64px 32px 64px;

             .registring {
                 display: flex;
                 flex-direction: column;
                 gap: 24px;

                 .title {
                     display: flex;
                     flex-direction: column;
                     gap: 12px;

                     div:first-child {
                         color: #000;
                         font-family: HelveticaBold, sans-serif;
                         font-size: 32px;
                         font-style: normal;
                         font-weight: 400;
                         line-height: 120%;
                         /* 38.4px */
                     }
                 }

                 .resolve-container {
                     display: grid;
                     grid-template-columns: repeat(auto-fill, minmax(32%, 1fr));

                     grid-column-gap: 20px;
                     grid-row-gap: 20px;

                     .registering-card {
                         padding: 24px;
                         display: flex;
                         flex-direction: column;
                         gap: 24px;
                         background: #fff;
                         width: 100%;

                         .title {
                             display: flex;
                             justify-content: space-between;
                             width: 100%;
                             padding: 16px;
                             background: #F1F1F1;
                             flex-direction: row;
                             align-items: center;

                             div:first-child {
                                 color: #000;
                                 font-family: Helvetica;
                                 font-size: 24px;
                                 font-style: normal;
                                 font-weight: 400;
                             }

                             div:last-child {
                                 display: flex;
                                 gap: 16px;
                                 align-items: center;

                                 svg {
                                     margin-top: 3px;
                                 }

                                 color: #C29773;
                                 font-family: Helvetica;
                                 font-size: 16px;
                                 font-style: normal;
                                 font-weight: 400;
                                 line-height: normal;
                             }
                         }

                         .text {
                             display: flex;
                             flex-direction: column;
                             gap: 24px;

                             div:first-child {
                                 color: #000;
                                 font-family: HelveticaBold, sans-serif;
                                 font-size: 22px;
                                 font-style: normal;
                                 font-weight: 400;
                                 line-height: normal;
                             }

                             div:last-child {
                                 color: #717171;
                                 font-family: HelveticaRegular, sans-serif;
                                 font-size: 16px;
                                 font-style: normal;
                                 font-weight: 400;
                                 line-height: normal;
                                 display: none;
                             }
                         }
                     }
                 }

             }

             .cost {
                 color: #000;
                 font-family: Helvetica;
                 font-size: 22px;
                 font-style: normal;
                 font-weight: 400;
                 line-height: 120%;

                 /* 26.4px */
                 span {
                     font-family: HelveticaBold, sans-serif;
                 }
             }
         }

         .interesting-facts {
             display: flex;
             padding: 32px 64px 32px 64px;
             flex-direction: column;
             gap: 24px;

             .title {
                 color: #000;

                 font-family: HelveticaBold, sans-serif;
                 font-size: 32px;
                 font-style: normal;
                 font-weight: 400;
                 line-height: 120%;
                 /* 38.4px */
             }

             .block-fact-container {
                 display: flex;
                 gap: 16px;
                 width: 100%;
                 flex-wrap: wrap;

                 .elem {
                     display: flex;
                     align-items: center;

                     div:first-child {
                         color: #FFF;
                         leading-trim: both;
                         text-edge: cap;
                         font-family: Helvetica;
                         font-size: 22px;
                         font-style: normal;
                         font-weight: 400;
                         line-height: normal;

                         display: flex;
                         align-items: center;
                         justify-content: center;
                         padding: 0px 10px;
                         height: 48px;
                         background: #C29773;
                     }

                     div:last-child {
                         color: #191C38;
                         leading-trim: both;
                         text-edge: cap;
                         font-family: Helvetica;
                         font-size: 16px;
                         font-style: normal;
                         font-weight: 400;
                         line-height: normal;
                         letter-spacing: 0.32px;

                         padding: 0px 16px;

                         display: flex;
                         align-items: center;
                         justify-content: center;
                         padding: 0px 10px;
                         height: 48px;
                         background: #C29773;
                         background-color: #fff;
                     }
                 }
             }
         }

         .get-consult-box {
             padding: 32px 0px 64px 0px;
         }
     }
 }

 @media (max-width: 1300px) {
     .trademark-wrapper {
         .trademark-container {

             .baner {
                 .content {
                     .title {
                         div:first-child {

                             font-size: 38px;

                         }

                         .description {
                             font-size: 16px;
                             width: 100%;

                         }
                     }
                 }
             }

             .trademark-baner-guide {
                 .trademark-baner {
                     height: 70vh;
                     gap: 40px;

                     .content {
                         width: 49%;
                         padding: 0px 0px 0px 16px;

                         .title {
                             div:first-child {
                                 font-size: 32px;
                             }

                             .text {
                                 color: #616161;
                                 font-family: HelveticaLight, sans-serif;
                                 font-size: 18px;
                                 font-style: normal;
                                 font-weight: 400;
                                 line-height: 120%;
                                 width: 68%;
                             }
                         }

                         .image {
                             img {}
                         }

                         .leave-a-request {
                             width: 100%;
                             font-size: 14px;
                         }
                     }

                     .image {
                         img {}
                     }
                 }

                 .guide-blocks {
                     padding: 32px 16px;
                     gap: 8px;

                     .guide-block {
                         font-size: 18px;
                         padding: 16px;

                         line-height: 30px;

                         div:first-child {
                             font-size: 22px;
                         }

                         div:last-child {
                             font-size: 18px;
                         }
                     }
                 }
             }

             .registering-trademark {
                 padding: 64px 16px 32px 16px;

                 div:first-child {
                     font-size: 20px;
                 }

                 div:last-child {
                     font-size: 16px;
                 }
             }

             .register-cost {
                 display: flex;
                 flex-direction: column;
                 gap: 20px;
                 padding: 32px 16px 32px 16px;


                 .registring {
                     gap: 24px;

                     .title {
                         div:first-child {
                             font-size: 20px;
                         }
                     }

                     .resolve-container {
                         grid-column-gap: 8px;
                         grid-row-gap: 8px;

                         .resolve-card {
                             .resolve-title {
                                 div:first-child {
                                     font-size: 22px;
                                 }

                                 div:last-child {
                                     font-size: 18px;
                                 }
                             }

                             .resolve-description {
                                 div:first-child {
                                     font-size: 22px;
                                 }
                             }
                         }
                     }
                 }

                 .cost {
                     color: #191C38;

                     font-family: HelveticaLight, sans-serif;
                     font-size: 20px;
                     font-style: normal;
                     font-weight: 400;
                     line-height: 120%;

                     span {
                         font-family: HelveticaBold, sans-serif;
                     }
                 }
             }

             .interesting-facts {
                 padding: 32px 16px;
                 gap: 24px;

                 .title {
                     font-size: 20px;
                 }

                 .block-fact-container {
                     gap: 14px;

                     .block-fact {
                         padding: 24px;


                         .elem {
                             gap: 16px;


                             div:first-child {
                                 font-size: 22px;
                             }

                             div:last-child {
                                 font-size: 16px;
                             }
                         }
                     }
                 }
             }
         }
     }
 }

 @media (max-width: 768px) {
     .trademark-wrapper {
         .trademark-container {
             .baner {
                 .content {
                     .title {
                         div:first-child {

                             font-size: 24px;

                         }

                         .description {
                             width: 100%;
                             font-size: 14px;

                         }
                     }
                 }
             }

             .trademark-baner-guide {
                 gap: 40px;

                 .trademark-baner {
                     height: auto;

                     .content {
                         width: 100%;
                         padding: 0px 16px 0px 16px;
                         gap: 24px;

                         .title {
                             div:first-child {
                                 width: 100%;
                                 font-size: 24px;

                                 margin-top: 24px;
                             }

                             .text {
                                 color: #616161;
                                 font-family: HelveticaLight, sans-serif;
                                 font-size: 18px;
                                 font-style: normal;
                                 font-weight: 400;
                                 line-height: 120%;
                                 width: 100%;
                             }
                         }

                         .image {
                             display: block;

                             img {
                                 display: block;
                             }
                         }

                         .leave-a-request {
                             padding: 16px;
                             font-style: 14px;

                             svg {
                                 transform: rotate(90deg);
                             }
                         }
                     }

                     .image {
                         display: none;

                         img {}
                     }
                 }

                 .guide-blocks {
                     padding: 96px 16px 96px 16px;
                     display: flex;
                     flex-wrap: wrap;
                     gap: 7px;

                     .guide-block {
                         flex: 1;
                         font-size: 16px;
                         min-width: 170px;

                         div:first-child {
                             font-size: 22px;
                         }

                         div:last-child {
                             font-size: 18px;
                         }
                     }
                 }
             }

             .registering-trademark {
                 padding: 96px 16px 48px 16px;

                 div:first-child {
                     font-size: 20px;
                 }

                 div:last-child {
                     font-size: 16px;
                 }
             }

             .register-cost {
                 display: flex;
                 flex-direction: column;
                 gap: 20px;
                 padding: 48px 16px 48px 16px;


                 .registring {
                     gap: 24px;

                     .title {
                         div:first-child {
                             font-size: 20px;
                         }
                     }

                     .resolve-container {
                         grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));

                         .resolve-card {
                             .resolve-title {
                                 div:first-child {}

                                 div:last-child {}
                             }

                             .resolve-description {
                                 div:first-child {}
                             }
                         }
                     }
                 }

                 .cost {
                     color: #191C38;

                     font-family: HelveticaLight, sans-serif;
                     font-size: 20px;
                     font-style: normal;
                     font-weight: 400;
                     line-height: 120%;

                     span {
                         font-family: HelveticaBold, sans-serif;
                     }
                 }
             }

             .interesting-facts {
                 padding: 48px 16px 96px 16px;
                 gap: 24px;

                 .title {
                     font-size: 20px;
                 }

                 .block-fact-container {
                     flex-direction: column;
                     gap: 14px;

                     .block-fact {
                         padding: 24px;


                         .elem {
                             gap: 16px;


                             div:first-child {
                                 font-size: 22px;
                             }

                             div:last-child {
                                 font-size: 16px;
                             }
                         }
                     }
                 }
             }
         }
     }
 }