.info-card {
    display: flex;
    padding: 24px;
    background: #191C38;

    .top-content {
        display: flex;
        flex-direction: column;
        padding: 0px 24px 0px 24px;
        gap: 32px;
        width: 50%;

        .title {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 24px;

            .name {
                display: flex;
                align-items: center;
                gap: 16px;
                width: 100%;
                justify-content: space-between;

                color: #FFF;
                font-family: HelveticaBold, sans-serif;
                font-size: 36px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .cost {
                display: flex;
                gap: 16px;
                color: #FFF;
                align-items: center;

                div {
                    font-family: HelveticaLight, sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    span {
                        font-family: HelveticaBold, sans-serif;
                    }
                }


            }
        }

        .top-content-descr {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .title-descr {
                color: #FFF;
                font-family: HelveticaBold, sans-serif;
                font-size: 22px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }

            .descr-temp-container {
                display: flex;
                gap: 16px;
                flex-wrap: wrap;

                .info-temp {
                    display: flex;
                    padding: 12px 16px;
                    gap: 10px;
                    align-items: center;
                    background: #C29773;

                    color: #FFF;
                    leading-trim: both;
                    text-edge: cap;
                    font-family: Helvetica;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
    }

    .bottom-content {
        display: flex;
        flex-direction: column;
        padding: 24px;
        background: #FFF;
        gap: 32px;
        width: 50%;
        justify-content: space-between;

        .content {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .unactive {
                display: none !important;
            }

            .paragraph {
                display: flex;
                flex-direction: column;
                gap: 16px;

                div:first-child {
                    color: #000;
                    font-family: HelveticaBold, sans-serif;
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }

                .text {
                    color: #717171;
                    font-family: HelveticaRegular, sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

        }

        .show-hide {
            display: flex;
            gap: 12px;
            cursor: pointer;

            color: #000;
            font-family: HelveticaBold, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            align-items: center;
            width: fit-content;

            &:hover {
                color: #6C6C6C;
            }

            .rotate90 {
                transform: rotate(90deg);
            }
        }

    }
}


@media (max-width: 1300px) {
    .info-card {
        display: flex;
        padding: 24px;
        background: #191C38;
        gap: 24px;

        .top-content {
            display: flex;
            flex-direction: column;
            padding: 0px 0px 0px 0px;
            gap: 32px;
            width: 50%;

            .title {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 24px;

                .name {
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    width: 100%;
                    justify-content: space-between;

                    color: #FFF;
                    font-family: HelveticaBold, sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;

                    img {
                        width: 24px;
                        height: 24px;
                    }
                }

                .cost {
                    display: flex;
                    gap: 16px;
                    color: #FFF;
                    align-items: center;

                    div {
                        font-family: HelveticaLight, sans-serif;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;

                        span {
                            font-family: HelveticaBold, sans-serif;
                        }
                    }


                }
            }

            .top-content-descr {
                display: flex;
                flex-direction: column;
                gap: 16px;

                .title-descr {
                    color: #FFF;
                    font-family: HelveticaBold, sans-serif;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                .descr-temp-container {
                    display: flex;
                    gap: 16px;
                    flex-wrap: wrap;

                    .info-temp {
                        display: flex;
                        padding: 8px;
                        gap: 10px;
                        align-items: center;
                        background: #C29773;

                        color: #FFF;
                        leading-trim: both;
                        text-edge: cap;
                        font-family: Helvetica;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
        }

        .bottom-content {
            display: flex;
            flex-direction: column;
            padding: 24px;
            background: #FFF;
            gap: 32px;
            width: 50%;
            justify-content: space-between;

            .content {
                display: flex;
                flex-direction: column;
                gap: 16px;

                .unactive {
                    display: none !important;
                }

                .paragraph {
                    display: flex;
                    flex-direction: column;
                    gap: 16px;

                    div:first-child {
                        color: #000;
                        font-family: HelveticaBold, sans-serif;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }

                    .text {
                        color: #717171;
                        font-family: HelveticaRegular, sans-serif;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }

            }

            .show-hide {
                display: flex;
                gap: 12px;
                cursor: pointer;

                color: #000;
                font-family: HelveticaBold, sans-serif;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                align-items: center;

                .rotate90 {
                    transform: rotate(90deg);
                }
            }

        }
    }
}


@media (max-width: 768px) {
    .info-card {
        display: none;
    }
}