.cost-service {
    display: flex;
    flex-direction: column;
    padding: 0px 64px;

    .cost-block-container {
        display: flex;
        flex-direction: column;
        gap: 24px;

        .cost-block {
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: 24px;
            background-color: #fff;

            .title {
                color: #191C38;
                font-family: HelveticaBold, sans-serif;
                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;

            }

            .cost-temp-container {
                display: flex;
                flex-wrap: wrap;
                gap: 16px;

                .cost-temp {
                    display: flex;
                    padding: 16px;
                    gap: 10px;
                    align-items: center;

                    color: #191C38;
                    font-family: Helvetica;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                    background: #F1F1F1;
                }
            }

            .price {
                display: flex;
                gap: 16px;
                align-items: flex-end;

                div:first-child {
                    color: #191C38;
                    font-family: HelveticaBold, sans-serif;
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }

                div:last-child {
                    color: #C29773;
                    font-family: Helvetica;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }
        }
    }
}

@media (max-width: 1300px) {
    .cost-service {
        padding: 0px 16px;

        .cost-block-container {
            gap: 8px;

            .cost-block {
                gap: 16px;
                padding: 16px;

                .title {
                    font-size: 16px;
                }

                .cost-temp-container {

                    .cost-temp {
                        font-size: 14px;
                    }
                }

                .price {
                    div:first-child {
                        font-size: 16px;
                    }

                    div:last-child {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .cost-service {
        padding: 0px;
    }
}