@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HELVETICA_REGULAR.OTF") format("opentype");
}

@font-face {
  font-family: "HelveticaBold";
  src: url("../fonts/HELVETICA_BOLD.OTF") format("opentype");
}

header {
  position: sticky;
  top: 0;
  padding: 16px;
  justify-content: space-between;
  display: flex;
  align-items: center;
  background: #191C38;
  z-index: 9999999;

  .phone-view {
    display: none;
  }

  .additional {
    display: flex;
    gap: 20px;

    a {
      display: flex;
      align-items: center;

      .phone {
        display: flex;
        align-items: center;
        color: #FFF;
        leading-trim: both;
        text-edge: cap;
        font-family: Helvetica, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 150% */
        gap: 10px;
      }
    }

    .language {
      select {
        padding: 8px 8px 8px 12px;
        color: #000;
        font-family: Helvetica, sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 64px;

    &.menu-ua-ru {
      gap: 40px;
    }


    .menu-option {
      cursor: pointer;
      color: #FFF;
      leading-trim: both;
      text-edge: cap;
      font-family: HelveticaBold, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: capitalize;
      white-space: nowrap;

      &:hover {
        color: #CFCECE;
      }

      &:nth-child(3) {
        position: relative;
        display: flex;
        gap: 10px;
        align-items: center;

        svg {
          cursor: pointer;
          transform: rotate(0deg);
        }

        svg.active {
          transform: rotate(180deg);
        }

        .drop-down {
          position: absolute;
          top: 57px;
          padding: 21px 21px 0px 21px;
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: #fff;
          transform: translateX(-32%);
          height: 285px;
          overflow: scroll;

          a {
            width: 100%;

            .option {
              color: #191C38;
              font-family: Helvetica;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              display: flex;
              width: 100%;
              justify-content: center;
              text-align: center;

              cursor: pointer;
              padding: 18px 0px 18px 0px;
              border-bottom: 1px #CACACA solid;
            }

            &:first-child {
              .option {
                padding: 0px 0px 18px 0px;
              }
            }

            &:last-child {
              .option {

                border-bottom: 0px #CACACA solid;
              }
            }

            &:hover {
              .option {
                color: #C29773 !important;

                border-bottom: 1px #C29773 solid;
              }
            }

            &:last-child:hover {
              .option {
                border-bottom: 0px;
              }
            }
          }
        }
      }

      &:nth-child(4) {
        position: relative;
        display: flex;
        gap: 10px;
        align-items: center;

        svg {
          cursor: pointer;
          transform: rotate(0deg);
        }

        svg.active {
          transform: rotate(180deg);
        }

        .drop-down {
          position: absolute;
          top: 57px;
          padding: 21px;
          display: flex;
          flex-direction: column;
          align-items: center;
          background-color: #fff;
          transform: translateX(-32%);

          a {
            width: 100%;

            .option {
              color: #191C38;
              font-family: Helvetica;
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              display: flex;
              width: 100%;
              justify-content: center;
              text-align: center;

              cursor: pointer;
              padding: 18px 0px 18px 0px;
              border-bottom: 1px #CACACA solid;
            }

            &:first-child {
              .option {
                padding: 0px 0px 18px 0px;
              }
            }

            &:last-child {
              .option {
                padding: 18px 0px 0px 0px;

                border-bottom: 0px #CACACA solid;
              }
            }


            &:hover {
              .option {
                color: #C29773 !important;

                border-bottom: solid 1px #C29773;
              }
            }

            &:last-child:hover {
              .option {
                border-bottom: 0px;
              }
            }
          }
        }
      }
    }

    .more-areas-button {
      padding: 2px 25px 5px 25px;

      border-radius: 10px;
      background: #C29773;
    }
  }

  .tablet-view {
    display: none;
  }

  .consulting-dropdown {
    position: absolute;
    background: #FFF;
    left: -16px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 50px;
    row-gap: 16px;
    justify-content: center;
    padding: 20px 20vh;
    width: calc(100% + 16px);
    top: 92px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    .option {
      cursor: pointer;
      display: flex;
      width: 200px;
      padding: 18px 30px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border: 1px solid #CACACA;
      color: #191C38;
      font-family: HelveticaBold, sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      white-space: nowrap;
      /* Prevent text wrapping */
    }
  }
}

@media (max-width: 600px) {
  header {
    position: unset;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .tablet-view {
      display: none !important;
    }

    .logo-container {
      display: none;
    }

    .additional {
      display: none;
    }

    .menu {
      display: none !important;
    }

    .phone-view {
      display: flex;
      width: 100%;
      flex-direction: column;
      align-items: center;

      .visible-items {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

        .logo-container {
          display: flex;
        }
      }

      .top-menu {}

      .phone-menu {
        position: fixed;
        width: 100vw;
        z-index: 10000;
        height: 100vh;
        background: #FFF;
        top: 0;
        padding: 24px;
        padding-bottom: 100px;
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: center;
        animation: slide-in-top 0.8s linear 0s 1 normal none;


        @keyframes slide-in-top {

          0% {
            transform: translateX(1000px);
            opacity: 0;
          }

          100% {
            transform: translateY(0);
            opacity: 1;
          }
        }

        .header {
          display: flex;
          width: 100%;
          flex-direction: column;
          gap: 40px;
        }

        .menu-options {
          display: flex;
          width: 100%;
          flex-direction: column;
          gap: 40px;
          padding: 5px 10px;

          .menu-option {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #191C38;
            leading-trim: both;
            text-edge: cap;
            font-family: Helvetica, sans-serif;
            font-size: 25px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
          }
        }

        .areas-options {
          a {
            &:last-child {
              width: calc(50% - 4px) !important;
            }
          }
        }

        .consulting-options {
          display: flex;
          flex-wrap: wrap;
          gap: 8px;

          a {
            display: flex;
            width: calc(50% - 4px);

            &:last-child {
              width: 100%;
            }

            .option {
              flex: 1;
              display: flex;
              padding: 18px 30px;
              justify-content: center;
              align-items: center;
              align-content: center;
              gap: 10px;
              flex-shrink: 0;
              flex-wrap: nowrap;
              width: max-content;
              border: 1px solid #CACACA;
              color: #191C38;
              font-family: HelveticaBold, sans-serif;
              font-size: 16px;
              font-style: normal;
              font-weight: 700;
              line-height: normal;
              white-space: nowrap;
            }
          }

        }

        .back-button {
          display: flex;
          padding: 12px 30px;
          justify-content: center;
          align-items: center;
          align-content: center;
          gap: 10px;
          flex-wrap: wrap;
          background: #191C38;
          width: max-content;
          align-self: center;
          color: #FFF;
          font-family: HelveticaBold, sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }

        .language {
          display: flex;
          gap: 40px;

          .lang {
            color: #FFF;
            font-family: Helvetica, sans-serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 120% */
            display: flex;
            padding: 8px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 5px;
            background: #191C38;

            &.active {
              border-radius: 5px;
              background: #C29773;
              color: #FFF;
              font-family: Helvetica, sans-serif;
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              /* 120% */
            }
          }
        }
      }

    }
  }
}

@media (max-width: 390px) {
  header {

    .phone-view {
      .phone-menu {
        .menu-options {
          gap: 40px;
        }

        .consulting-options {
          a {

            width: 100%;
          }
        }
      }
    }
  }

}

@media (max-width: 1300px) {
  header {
    .menu {
      display: none;
    }

    .additional {
      display: none;
    }

    .tablet-view {
      display: flex;
      gap: 32px;

      a {
        display: flex;
        align-items: center;

        .phone {
          display: flex;
          align-items: center;
          color: #FFF;
          leading-trim: both;
          text-edge: cap;
          font-family: Helvetica, sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          /* 150% */
          gap: 10px;
        }
      }

      .language {
        select {
          padding: 8px 8px 8px 12px;
          color: #000;
          font-family: Helvetica, sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;

          &:focus {
            outline: none;
          }
        }
      }

      .tablet-menu {
        position: absolute;
        right: 0;
        background: #FFF;
        width: fit-content;
        top: 93px;
        display: flex;
        padding: 25px 16px;
        flex-direction: column;
        align-items: center;
        width: 160px;

        .tablet-menu-menu {
          flex-wrap: wrap;
          justify-content: center;
          display: flex;
          flex-direction: column;
          gap: 24px;

          .option {
            color: #3A3A3A;
            leading-trim: both;
            text-edge: cap;
            font-family: Helvetica;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            gap: 24px;

            display: flex;
            width: 100%;
            justify-content: space-between;


            svg {
              opacity: 0.6;
            }
          }

          .active {
            color: #000;
            font-family: Helvetica, sans-serif;
            padding-top: 8px;

            svg {
              transform: rotate(180deg);
              opacity: 1;
            }
          }

          .active2 {
            color: #000;
            font-family: Helvetica, sans-serif;
            padding-top: 8px;

            svg {
              transform: rotate(180deg);
              opacity: 1;
            }
          }

          .drop-down {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #fff;
            height: 500px;
            overflow: auto;

            a {
              width: 100%;

              .option {
                color: #3A3A3A;
                font-family: Helvetica;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                display: flex;
                width: 100%;
                justify-content: start;

                cursor: pointer;
                padding: 18px 0px 18px 0px;
                border-bottom: 1px #CACACA solid;
              }

              &:first-child {
                .option {
                  padding: 0px 0px 18px 0px;
                }
              }

              &:last-child {
                .option {

                  border-bottom: 0px #CACACA solid;
                }
              }

              &:hover {
                a {
                  .option {
                    color: #C29773;

                    border-bottom: 1px #C29773 solid;
                  }
                }
              }
            }
          }

          .cons-drop-down {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #fff;
            overflow: auto;

            a {
              width: 100%;

              .option {
                color: #3A3A3A;
                font-family: Helvetica;
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                display: flex;
                width: 100%;
                justify-content: start;

                cursor: pointer;
                padding: 18px 0px 18px 0px;
                border-bottom: 1px #CACACA solid;
              }

              &:first-child {
                .option {
                  padding: 0px 0px 18px 0px;
                }
              }

              &:last-child {
                .option {

                  border-bottom: 0px #CACACA solid;
                }
              }

              &:hover {
                a {
                  .option {
                    color: #C29773;

                    border-bottom: 1px #C29773 solid;
                  }
                }
              }
            }
          }
        }

        .language {
          display: flex;
          gap: 40px;

          .lang {
            color: #FFF;
            font-family: Helvetica, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 120% */
            display: flex;
            padding: 8px;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 5px;
            background: #191C38;

            &.active {
              border-radius: 5px;
              background: #C29773;
              color: #FFF;
              font-family: Helvetica, sans-serif;
              font-size: 16px;
              padding: 8px;
              display: flex;
              justify-content: center;
              align-items: center;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              /* 120% */
            }
          }
        }
      }

      .consulting-options {
        padding: 20px 41px;
        display: flex;
        flex-direction: column;

        gap: 8px;


        .options {
          display: flex;
          gap: 8px;
          flex-wrap: wrap;

          .option {
            flex: 1;
            display: flex;
            padding: 18px 30px;
            justify-content: center;
            align-items: center;
            align-content: center;
            gap: 10px;
            flex-wrap: wrap;
            border: 1px solid #CACACA;
            color: #191C38;
            font-family: HelveticaBold, sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            white-space: nowrap;
            line-height: normal;
          }
        }

        .back-button {
          cursor: pointer;
          align-self: flex-end;
          width: max-content;
          display: flex;
          padding: 18px 30px;
          justify-content: center;
          align-items: center;
          align-content: center;
          gap: 10px;
          flex-wrap: wrap;
          background: #191C38;
          color: #FFF;
          font-family: HelveticaBold, sans-serif;
          font-size: 16px;
          font-style: normal;
          font-weight: 700;
          line-height: normal;
        }
      }
    }
  }
}

@media (max-width: 700px) {

  header {
    .tablet-view {

      .tablet-menu {


        .tablet-menu-menu {

          gap: 30px;

          .option {}
        }
      }
    }
  }
}

@media (max-width: 820px) {
  header {

    .menu {
      position: unset;
      transform: unset;
      order: 2;

      .menu-option {
        font-size: 14px;
      }
    }

    .additional {
      order: 3;
    }
  }
}

@media (max-width: 1430px) {
  header {
    .menu {
      gap: 50px;
    }
  }
}