.project-similar {
  cursor: pointer;
  height: 30%;
  width: 100%;
  background: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: none;

  &:hover {
    .image-container {
      .information {
        .price-per-meter {
          background: #D8AA83;
        }
      }
    }
  }

  .image-container {
    width: 100%;
    position: relative;
    height: 100%;
    background: linear-gradient(0deg, #000 -58.46%, rgba(0, 0, 0, 0.00) 96.51%),
    url("../../assets/project.png") lightgray 50% / cover no-repeat;

    .information {
      display: flex;
      flex-direction: column;
      gap: 3px;
      width: 100%;
      height: 100%;
      padding: 12px;

      justify-content: space-between;

      .price-per-meter {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 1px;
        background: #C29773;
        width: fit-content;
        padding: 2px 8px;
        border-radius: 2px;

        .price {
          color: var(--D-grey, #F2F2F7);
          font-family: HelveticaRegular, sans-serif;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: -0.5px;
        }
      }

      .price-name {
        display: flex;
        justify-content: space-between;

        .name-bedrooms {
          display: flex;
          flex-direction: column;
          gap: 2px;
          justify-content: space-between;

          .name {
            color: #fff;
            font-family: HelveticaBold, sans-serif;
            font-size: 22px;
            white-space: nowrap;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 133.333% */
          }

          .bedrooms {
            color: #fff;
            font-family: Helvetica, sans-serif;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 133.333% */
          }
        }

        .price-from {
          display: flex;
          flex-direction: column;
          gap: 0px;
          justify-content: space-between;

          .from {
            color: #FFF;
            padding-top: 2px;
            text-align: right;
            font-family: HelveticaLight, sans-serif;
            font-size: 14px;
            font-style: normal;
            font-weight: 300;
            line-height: 24px;
            /* 171.429% */
          }

          .price {
            color: #FFF;
            font-family: Helvetica;
            font-size: 22px;
            font-style: normal;
            font-weight: 700;
            line-height: 24px;
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .project-similar {
    width: 100% !important;
    height: 100%;

    .image-container {
      .information {
        .price-per-meter {
          .price {
          }
        }
        .price-name {
          .name-bedrooms {
            .name {
              font-size: 22px !important;
            }

            .bedrooms {
              font-size: 18px !important;
              font-family: HelveticaLight, sans-serif !important;
              margin: 0;
            }
          }

          .price-from {
            .from {
              font-family: HelveticaLight, sans-serif !important;
            }

            .price {
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .project-similar {
    height: 162.667px;
    width: 100%;

    .image-container {
      .information {
        padding: 8px;

        .price-per-meter {
          .price {
          }
        }

        .price-name {
          height: fit-content;
          align-items: flex-end;

          .name-bedrooms {
            justify-content: flex-end;

            .name {
              line-height: normal;
            }

            .bedrooms {
              line-height: normal;
              margin: 0px
            }
          }

          .price-from {
            align-items: flex-end;

            height: fit-content;

            .from {
              line-height: normal;
            }

            .price {
              line-height: normal;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 870px) {
  .project-similar {
    height: 100%;
    box-shadow: none;

    .image-container {
      .information {
        gap: 0px;

        .name {
          font-size: 25px;
        }

        .bedrooms {
          font-size: 20px;
          margin-bottom: 8px;
        }
      }

    }
  }

  .show-more-wrapper {
    .show-more {
      padding: 10px 32px 11px 32px !important;

    }
  }
}