.project-sim {
  cursor: pointer;
  height: 60%;
  width: calc(50% - 8px);
  display: flex;
  flex-direction: column;
  padding: 10px 0px 15px 0px;
  gap: 15px;

  border-radius: 7px;
  background: #FFF;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.10);

  .img-container {
    padding: 0px 10px;
    height: 100%;
    width: 100%;

    .image{
      height: 100%;
      width: 100%;

      border-radius: 7px;
      background: linear-gradient(137deg, rgba(0, 0, 0, 0.20) 14.34%, rgba(0, 0, 0, 0.00) 28.63%), linear-gradient(1deg, rgba(0, 0, 0, 0.40) 15.72%, rgba(0, 0, 0, 0.00) 91.54%), url(<path-to-image>), lightgray -68.75px -14.837px / 148.427% 114.674% no-repeat;
      box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.15);
    }
  }

  .project-content {
    display: flex;
    flex-direction: column;
    padding: 0px 10px;

    white-space: nowrap;

    .price {
      color: #191C38;

      font-family: Onest;
      font-size: 26px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: -0.5px;

      span {
        color: #818181;
        font-family: Onest;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        letter-spacing: -0.5px;
      }
    }

    .name {
      display: flex;
      flex-wrap: wrap;
      color: #818181;
      font-family: Onest;
      font-size: 16px;
      font-style: normal;
      font-weight: 300;
      line-height: normal;
      letter-spacing: -0.5px;
      gap: 4px;
    }
  }

  .description {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 0px 20px;

    border-top: 1px #CBCBCB solid;

    .info {
      display: flex;
      flex-direction: column;
      gap: 10px;

      svg:nth-child(1) {
        height: 24px;
        width: 24px;
      }


      .text {
        color: #191C38;
        font-family: Onest;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.5px;

        span {
          color: #191C38;
          font-family: Onest;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: -0.5px;
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .project-sim {
    height: 300px;
    gap: 8px;
    padding: 10px 0px 8px 0px;
    .img-container {
      .image{
      }
    }

    .project-content {
      .price {
        font-size: 18px;
        span {
          font-size: 14px;
        }
      }

      .name {
        font-size: 14px;
      }
    }

    .description {
      .info {
        gap: 5px;
        svg:nth-child(1) {
        }

        .text {
          font-size: 14px;
          span {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (max-width: 1150px) {
  .project-sim {
    .project-content {
      .name {
        font-size: 12px;
      }
    }
    .description {
      .info:last-child {
        display: none;
      }
    }
  }
}

@media (max-width: 600px) {
  .project-sim {
    width: 100%;
  }
}